@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signup {
    background-color: #3882F6;
    width: 700px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 40px;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta {
    padding-right: 30px;
}

.head {
    font-size: 24px;
    font-weight: bold;
    color:#E5E7EB;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign {
    background: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px 30px;
    border: 2px solid #E5E7EB;
    cursor: pointer;
}

.footer {
    width: 100%;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}