html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}









.footer {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
