@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headcontainer {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}

.headertab, .headercontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    padding: 0px;
}

li {
    list-style-type: none;
}

a, .lefttext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.left {
    display: flex;
    flex-direction: column;
}

.lefthead {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.infohead {
    font-size: 36px;
    font-weight: bold;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container {
    margin: 0px 80px 80px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 150px;
    height: 150px;
    border:#3882F6 solid 5px;
    border-radius: 25px;
}

.textual {
    font-size: 18px;
    color: rgb(130, 130, 130);
    text-align: center;
    padding-top: 18px;
}

.quotebox {
    font-size: 36px;
    font-weight: 300;
    background-color: #E5E7EB;
    padding: 100px 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.quote {
    font-size: 24px;
    font-weight: 600;
    padding-top: 24px;
}

.signup {
    background-color: #3882F6;
    width: 700px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 40px;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    padding-right: 30px;
}

.head {
    font-size: 24px;
    font-weight: bold;
    color:#E5E7EB;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign {
    background: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px 30px;
    border: 2px solid #E5E7EB;
    cursor: pointer;
}

.footer {
    width: 100%;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}